<div class="row">
    <div class="col-12" >
      <ul class="pagination m-auto" >
        <li>
          <button disabled.bind="isFirstAndPrevDisabled || isDisabled" class="btn btn-white" click.trigger="onRefresh(first)">
            <i class="fa fa-fast-backward"></i>
          </button>
        </li>
        <li>
          <button disabled.bind="isFirstAndPrevDisabled || isDisabled" class="btn btn-white" click.trigger="onRefresh(prev)">
            <i class="fas fa-angle-double-left"></i>
          </button>
        </li>
        <li>
          <div class="input-group">
            <input value.bind="currentPage & debounce:400" class="form-control m-l-2 m-r-2 p-r-0" style="width:70px"
              type="number" min.bind="1" max.bind="totalPages"/>
            <div class="input-group-append">
              <label class="input-group-text f-s-12 f-w-600" t="$t(paginator.of) ${totalPages}"></label>
            </div>
          </div>
        </li>
        <li>
          <button disabled.bind="isLastAndNextDisabled || isDisabled" class="btn btn-white m-l-2" click.trigger="onRefresh(next)">
            <i class="fas fa-angle-double-right"></i>
          </button>
        </li>
        <li>
          <button disabled.bind="isLastAndNextDisabled || isDisabled" class="btn btn-white" click.trigger="onRefresh(last)">
            <i class="fa fa-fast-forward"></i>
          </button>
        </li>
        <li>
          <label class="col-form-label m-l-10" t="$t(paginator.results) ${totalItems}"></label>
        </li>
      </ul>
    </div>
  </div>